.header {
    width: 100%;
    min-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0px 3px #999;
}

.header .navbar {
    width: 100%;
    height: 100%;
}

.header .logo h1 {
    font-size: 2rem;
}

/* ----------- Header Menu ---------- */
.header .menu li {
    padding: 5px;
    margin: 0 10px;
}

.header .menu .material-icons {
    font-size: 32px;
    color: #999;
}

.header .menu .material-icons.active {
    color: #17a2b8;
}

.header .menu .dropdown-menu {
    position: absolute;
    left: inherit;
    top: 66px;
    border-radius: 10px;
}

.header .menu .dropdown_notification {
    right: -94px;
    background-color: #fff;
}

.header .menu label {
    cursor: pointer;
}

.header .menu .notify_length {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.header .menu .medium-avatar {
    transform: translateY(-2px);
}

/* ---------- Header Search -------- */
.header .search_form {
    position: relative;
}

.header .search_form #search {
    background: #fafafa;
    border: 1px solid #999;
    min-width: 250px;
    width: 100%;
    outline: none;
    text-indent: 10px;
    padding: 5px 10px;
    border-radius: 25px;
}

.header .search_form button {
    position: absolute;
    right: 5px;
    height: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search_form .search_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    pointer-events: none;
}

.header .search_form .search_icon .material-icons {
    font-size: 16px;
    transform: translateY(3px);
}

.header .search_form .close_search {
    position: absolute;
    top: 50%;
    right: 40px;
    cursor: pointer;
    transform: translateY(-50%);
    font-weight: 900;
    color: crimson;
}

.header .search_form .users {
    position: absolute;
    width: 100%;
    min-width: 250px;
    background: #f8f9fa;
    max-height: calc(100vh - 150px);
    overflow: auto;
    margin-top: 3px;
    border-radius: 5px;
    z-index: 999;
}

.header .search_form .loading {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}